* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background: #f2f4f7;
}
img {
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #5a5a5a;
}
nav{
    background: #1078ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding:5px 4%;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.2);
    z-index: 100;
}
.nav-izquierdo, .nav-derecho, .barra-busqueda{
    display: flex;
    align-items: center;
}
.nav-izquierdo .logo {
    width: 130px;
}
.nav-izquierdo img{
    width: 25px;
    margin-right: 25px;
}
.icono-busqueda{
width: 16px;
}
.barra-busqueda{
    width: 250px;
    height: 40px;
    border-radius: 25px;
    background: #eeee;
    padding: 0 12px;
}
.barra-busqueda input{
    width: 100%;
    border: 0;
    outline: none;
    background: transparent;
    font-size: 14px;
    margin-left: 15px;
}
.nav-derecho .icono-usuario{
    width: 40px ;
    border-radius: 50%;
    margin-left: 15px;
}
.online{
    display: flex;
    position: relative;
}
.online::after{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: #41db51;
    right: 0;
}

/*-----medidas del contenedor-------*/
.contenedor {
    display: flex;
    justify-content: space-between;
    padding: 20px 4%;
}
.barra-lateral-izquierda {
    flex-basis: 25%;
    top: 70px;
    height: 100vh;
    position: sticky;
}
.barra-lateral-derecha {
    flex-basis: 25%;
    top: 70px;
    height: 100vh;
    position: sticky;
}
.contenido-principal {
    flex-basis: 40%;
}

/*-------Barra lateral izquiera--------*/
.accesos-directos a, .grupos a {
    display: flex;
    align-items: center;
    margin: 20px;
    width: fit-content;
    font-size: 15px;
}
.accesos-directos img {
    width: 30px;
    margin-right: 25px;
}
.accesos-directos .usuario{
  width: 35px;
  border-radius: 50%;
}
.barra-lateral-izquierda hr {
    border: 0;
    background: #ccc;
    height: 1px;
    margin-bottom: 20px;
}
.grupos h3 {
    font-size: 15px;
    color: #5a5a5a;
    margin-bottom: 20px;
}
.grupos img{
    width: 80px;
    margin-right: 20px;
}

/*----barra lateral derecha-----*/
.publicidad h3 {
    font-size: 15px;
    margin-bottom: 20px;
    color: #5a5a5a;
}
.publicidad a {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-bottom: 20px;
    font-size: 15px;
}
.publicidad img {
    width: 100px;
    margin-right: 20px;
    border-radius: 5px;
}
.barra-lateral-derecha hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
}
.amigo h3 {
    color: #5a5a5a;
    margin: 20px 0;
    font-size: 15px;
}
.amigo .online{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 15px;
    width: fit-content;
    color: #5a5a5a;
}
.amigo .online img{
    width: 40px;
    border-radius: 50%;
    margin-right: 20px;
}
.amigo .online::after{
    bottom: 0px;
    left: 30px;
}

/*------contenido principal------*/
.subir-estado {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0,0.1);
    margin-bottom: 20px;
}
.mensaje-usuario {
    display: flex;
    align-items: center;
}
.mensaje-usuario img {
    width: 45px;
    margin-right: 10px;
    border-radius: 50%;
}
.mensaje-usuario input {
    height: 45px;
    border: 0;
    outline: 0;
    background-color: #eee;
    width: 100%;
    padding: 0 15px;
    font-size: 16px;
    border-radius: 25px;
}
.subir-estado hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0 20px;
}
.subir-video {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.subir-video div{
    display: flex;
    align-items: center;
}
.subir-video img{
    margin-right: 10px;
}
.subir-video span {
    font-size: 15px;
    color: #5a5a5a;
}
.galeria-historias {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.historia {
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.historia img{
    position: absolute;
    width: 45px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    border: 5px solid #1078ff;
}
.historia p{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fff ;
    font-size: 14px;
}
.historia-1{
    background-image: url(images/usuario.png);
}
.historia-2{
    background-image: url(images/amigo-1.png);
}
.historia-3{
background-image: url(images/amigo-2.png);
}
.historia-4{
background-image: url(images/amigo-3.png);
}
.historia-5{
    background-image: url(images/amigo-4.png);
}
.historia-1 img{
    top: unset;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    border: 0;
    width: 35px;
}
.publicacion {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0,0.1);
    margin-bottom: 20px;
}
.autor{
    display: flex;
    align-items: center;
}
.autor div {
    flex: 1;
}
.autor img{
     width: 40px;
     border-radius: 50%;
     margin-right: 10px;
}
.autor div {
    font-size: 14px;
    color:#5a5a5a ;
}
.autor span{
    color: #000 ;
    font-weight: 600;
}
.autor p{
    font-size: 12px;
}
.autor .puntos{
    width: 25px;
    margin-right: 0;
}
.mensaje{
    font-size:  14px;
    color:#5a5a5a ;
    margin: 15px 0;
}
.reacciones {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.reacciones div{
    display: flex;
    align-items: center;
}
.reacciones img{
    width: 25px;
}
.reacciones samp{
    color: #5a5a5a;
    font-size: 15px;
    margin-right: 5px;
    margin-left: 10px;
}
.publicacion .publicacion-img{
    width: calc(100% + 40px);
    margin-left: -20px;
}
.menu-configuracion {
    position: absolute;
    width: 100%;
    max-width: 350px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.4);
    border-radius: 4px;
    top: 100%;
    right: 2%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s;
}
.menu-configuracion-interno{
     padding: 20px;
}
.perfil-usuario{
    display: flex;
    align-items: center;
}
.perfil-usuario img{
    border-radius: 50%;
    width: 40px;
    margin-right: 10px;
}
.perfil-usuario a{
    font-size: 12px;
    color: #1078ff;
}
.menu-configuracion hr{
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 15px 0;
}
.enlace-configuracion{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.enlace-configuracion .icono-configuracion{
    width: 30px;
    margin-right: 10px;
    border-radius: 50%;
}
.enlace-configuracion a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}
.altura-menu-configuracion{
    max-height: 450px;
}

/*----------media queires*/
@media (max-width: 700px){
    .barra-lateral-derecha, .barra-lateral-izquierda{
        display: none;
    }
    .contenido-principal{
        flex-basis: 100%;
    }
    .contenedor{
        padding: 20px 0;
    }
    .nav-izquierdo img:not(:nth-child(1)){
        display: none;
    }
    .nav-derecho .online{
        display: none;
    }
    .barra-busqueda{
        width: 40px;
    }
    .subir-video{
        display: block;
    }
    .subir-video div {
        margin-top: 5px;
    }
    .historia img {
        display: none;
    }
}